<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>Edit <%= user.username %>'s account information</h1>

    <form action="/admin/<%= user._id %>?_method=PUT" method="POST">
        <div class="">
            <label for="username">Username</label>
            <input type="text" id="username" name="user[username]" value="<%= user.username %>">
        </div>

        <div class="">
            <label for="userIndex">User Index</label>
            <input type="text" id="userIndex" name="user[userIndex]" value="<%= user.userIndex %>">
        </div>

        <h2>KYC status</h2>
        <div class="">
            <div class="">
                <label for="verified">Verified</label>
                <input type="text" id="verified" name="user[kycStatus][verified]" value="<%= user.kycStatus.verified %>">
            </div>

            <div class="">
                <label for="kycUrl">KYC URL</label>
                <input type="text" id="kycUrl" name="user[kycStatus][kycUrl]" value="<%= user.kycStatus.kycUrl %>">
            </div>            
        </div>

        <h2>Affiliate Program</h2>
        <div class="">
            <div class="">
                <label for="affiliatePermissions">Affiliate Permissions</label>
                <input type="text" id="affiliatePermissions" name="user[affiliateProgram][affiliatePermissions]" value="<%= user.affiliateProgram.affiliatePermissions %>">
            </div>
            <div class="">
                <label for="referredBy">Referred By</label>
                <input type="text" id="referredBy" name="user[affiliateProgram][referredBy]" value="<%= user.affiliateProgram.referredBy %>">
            </div>     
            <div class="">
                <label for="referrals">First Tier Referrals</label>
                <input type="text" id="referrals" name="user[affiliateProgram][referrals]" value="<%= user.affiliateProgram.referrals %>">
            </div>
            <div class="">
                <label for="referrals_2">Second Tier Referrals</label>
                <input type="text" id="referrals_2" name="user[affiliateProgram][referrals_2]" value="<%= user.affiliateProgram.referrals_2 %>">
            </div>  
            <div class="">
                <label for="referralAddress">Referral ID</label>
                <input type="text" id="referralAddress" name="user[affiliateProgram][referralAddress]" value="<%= user.affiliateProgram.referralAddress %>">
            </div>                     
        </div>

        <h2>Cryptocurrency Addresses</h2>
        <div class="">
            <div class="">
                <label for="ethereumAddress">Ethereum Address</label>
                <input type="text" id="ethereumAddress" name="user[cryptocurrencyAddresses][ethereumAddress]" value="<%= user.cryptocurrencyAddresses.ethereumAddress %>">
            </div>  
            <div class="">
                <label for="bitcoinAddress">Bitcoin Address</label>
                <input type="text" id="bitcoinAddress" name="user[cryptocurrencyAddresses][bitcoinAddress]" value="<%= user.cryptocurrencyAddresses.bitcoinAddress %>">
            </div>  
        </div>

        <h2>Transaction History</h2>
        <h3>First Round</h3>
        <ol>
        <% for(let i = 0; i < user.transactionHistory.firstRound.length; i++) { %>
            <li class="">
                <label for="transaction">ID:</label>
                <input type="text" id="transaction" name="user[transactionHistory][firstRound]<%=[i]%>" value="<%= user.transactionHistory.firstRound[i] %>">
            </li> 
        <% } %>            
        </ol>

        <input type="submit" value="Update information">
    </form>


</body>
</html>